<% layout('layouts/boilerplate') %>
<h3 class="mb-3">
  <a href="/salons/new" style="text-decoration: none; color: rgb(36, 36, 36)"
    >+</a
  >
</h3>
<% for(let salon of salons) { %>

<div class="card mb-3">
  <div class="row">
    <div class="col-md-3">
      <img src="<%= salon.salonImage %> " alt="" class="img-fluid" />
    </div>
    <div class="col-md-3">
      <div class="card-body">
        <h5 class="card-title"><%= salon.salonName %></h5>

        <p class="card-text"><%= salon.salonType %></p>
        <p class="card-text">
          <small class="text-muted">
            <%= `${salon.salonStreetAddress} ${salon.salonCity},
            ${salon.salonState} ${salon.salonZipCode}` %></small
          >
        </p>
        <a class="btn btn-light" href=" /salons/<%= salon._id  %>  "
          >View <%= salon.title %>
        </a>
      </div>
    </div>
  </div>
</div>

<% }%>
