<% layout('layouts/boilerplate') %>
<h3 class="mb-3">
  <a href="/salons/new" style="text-decoration: none; color: rgb(36, 36, 36)"
    >+</a
  >
</h3>
<% for(let salon of salons) { %>
<div class="card mb-3 salon-index smooth">
  <div class="row">
    <div class="col-md-3 index-img-div">
      <% if(salon.salonImage) { %>
      <img
        src="<%= salon.salonImage %> "
        alt=""
        class="img-fluid index-img-size smooth"
      />
      <% } %>
    </div>
    <div class="col-md-3">
      <div class="card-body">
        <h5 class="card-title"><%= salon.salonName %></h5>

        <p class="card-text"><%= salon.salonType %></p>
        <p class="card-text">
          <small class="text-muted">
            <%= `${salon.salonStreetAddress} ${salon.salonCity},
            ${salon.salonState} ${salon.salonZipCode}` %></small
          >
        </p>
        <a class="stretched-link" href=" /salons/<%= salon._id  %>  "
          ><%= salon.title %>
        </a>
      </div>
    </div>
  </div>
</div>

<% }%>
