<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="text-center">
        <img
          class="salon-image"
          src=" <%= salon.salonImage %>  "
          alt="salon image"
          height="400"
          width="400"
        />
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-header">
        <%= salon.salonType %> <br />
        <span class="avg-price">$<%= salon.salonAveragePrice %></span>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= salon.salonName %></h5>
        <p class="card-text">
          <%= `${salon.salonStreetAddress} ${salon.salonCity},
          ${salon.salonState} ${salon.salonZipCode}` %>
        </p>
        <p class="text-muted">Submitted by <%= salon.salonAuthor.username %></p>
        <a
          href="https://www.google.com/maps/place/<%=`${salon.salonStreetAddress}+${salon.salonCity}+${salon.salonState}+${salon.salonZipCode}`%>"
          class="btn btn-primary mb-3"
          target="_blank"
          rel="noopener noreferrer"
          >Find On Google Maps</a
        >
        <% if(currentUser && salon.salonAuthor.equals(currentUser._id)) { %>
        <div>
          <a href="/salons/<%= salon._id %>/edit " class="btn btn-warning mb-3"
            >Edit</a
          >
          <form
            class="d-inline"
            action="/salons/<%= salon._id  %>?_method=DELETE"
            method="post"
          >
            <button class="btn btn-danger mb-3">Delete</button>
          </form>
        </div>
        <% } %>
      </div>
    </div>
  </div>

  <div class="col-6">
    <% if(currentUser) { %>
    <form
      class="mt-3 validated-form"
      action="/salons/<%= salon._id  %>/reviews "
      method="POST"
      novalidate
    >
      <h3>Leave A Review</h3>
      <div class="mb-3">
        <label class="form-label" for="rating">Rating</label>
        <input
          class="form-range"
          type="range"
          name="review[rating]"
          id="rating"
          min="1"
          max="5"
          placeholder="1"
        />
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Comment</label>
        <textarea
          class="form-control"
          name="review[body]"
          id="body"
          cols="30"
          rows="3"
          required
        ></textarea>
        <label for="" class="invalid-feedback">Text required</label>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <hr />
    <% } %>
    <div class="mt-3 scrollable <% if(!currentUser) { %> full-length <% } %>">
      <% salon.salonReviews.slice().reverse().forEach(function(item) { %>
      <div class="card m-3">
        <div class="card-body">
          <p><strong>Rating:</strong> <%= item.rating %></p>
          <p><strong>Review:</strong> <%= item.body %></p>
          <form
            action="/salons/<%= salon._id %>/reviews/<%= item._id %>?_method=DELETE  "
            method="POST"
          >
            <button class="btn btn-sm btn-danger">x</button>
          </form>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>
