<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="card">
      <div class="card-header"><%= salon.salonType %></div>
      <div class="card-body">
        <h5 class="card-title"><%= salon.salonName %></h5>
        <p class="card-text">
          <%= `${salon.salonStreetAddress} ${salon.salonCity},
          ${salon.salonState} ${salon.salonZipCode}` %>
        </p>
        <a
          href="https://www.google.com/maps/place/<%=`${salon.salonStreetAddress}+${salon.salonCity}+${salon.salonState}+${salon.salonZipCode}`%>"
          class="btn btn-primary mb-3"
          target="_blank"
          rel="noopener noreferrer"
          >Find On Google Maps</a
        >
        <div>
          <a href="/salons/<%= salon._id %>/edit " class="btn btn-warning mb-3"
            >Edit</a
          >
          <form
            class="d-inline"
            action="/salons/<%= salon._id  %>?_method=DELETE"
            method="post"
          >
            <button class="btn btn-danger mb-3">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
