<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <!-- <link href="/css/styles.css" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" href="/css/new_styles.css" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <title>Fresher</title>
  </head>
  <body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %>
    <!--  -->
    <% if(!currentUser) { %> <%- include('../users/formModal') %> <% } %>
    <!--  -->
    <main class="container mt-3">
      <%- include('../partials/flash') %> <%- body %>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/formValidation.js"></script>
    <script src="/js/formModal.js"></script>
  </body>
</html>
